.totalPrice {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 30px;
    font-weight: bold;
    border-bottom: solid 1px #1976D2;
    border-top: solid 1px #1976D2;
}
