.btn-wrap {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.buy {
    min-width: 70%;
}

.buy:hover {
    color: white;
    border: 1px solid rgba(25, 118, 210, 0.5);
    background-color: #1976d2;
}

.product {
    box-shadow: 
    5px 5px 10px 3px  rgba(25, 118, 210, 0.5);
    text-align: center;

    .product-price {
        font-size: 22px;
    }

    .product-description {
        font-size: 19px;
    }

    h4 {
        font-size: 30px;
    }
}