.currencies {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.currency {
    margin-right: 8px;
}

.currency:hover {
    cursor: pointer;
}

.active{
    color: white;
    border: 1px solid rgba(25, 118, 210, 0.5);
    background-color: #1976d2;
    
}
